<script type="text/template" class="quizzestemplate">
  <div>
  <a href='' id='<%%= id %>'><%%= title %></a> 
  <a href='' class='<%%= id %>'>Add new question</a>
  <a href='' class='scores-<%%= id %>'>Top scores</a>
  <a href='' class='stats-<%%= id %>'>Stats</a>
  <a href='' class='edit-<%%= id %>'>Edit</a>
  <a href='' class='delete-<%%= id %>'>Delete</a><br></div>
</script>
<script type="text/template" class="multitemplate">
  <h4><%%= question %></h4>
  <%% _.each(choices,function(choice){ %> 
      <input type='radio' name='choice' id='<%%= choice %>' value='<%%= choice %>'><label for='<%%= choice %>'><%%= choice %></label><br/>  
    <%% }) %>
  <button type = 'button'>Submit!</button>
  <p class='answer'><%%= answer %></p>
</script>
<script type = "text/template" class = "booleantemplate">
  <h4><%%= question %></h4>
  <input type='radio' name='choice' id='true' value='true'>
  <label for='true'>True!</label><br/>
  <input type='radio' name='choice' id='false' value='false'>
  <label for='false'>False!</label><br/>
  <button type='button'>Submit!</button>
  <p class='answer'><%%= answer %></p>
</script>
<script type = "text/template" class = "blanktemplate">
  <h4><%%= question %></h4>
  <input type='text' id='answer'>
  <button type='button'>Submit!</button>
  <p class='answer'><%%= answer %></p>
</script>
<script type = "text/template" class = "topscore">
  <h2>Top score</h2>
  <table>
    <tr>
      <th>User</th>
      <th>Score</th>
    </tr>
    <%% _.each(scores,function(score){ %>
      <tr><td><%%= score.user %></td><td><%%= score.score %></td></tr>
    <%% }) %>
  </table>
</script>
<script type = "text/template" class = "editTemplate">
  <h2>Edit quiz and questions</h2>
  <label for='title'>Quiz name:</label><br>
  <input type='text' id='title' value='<%%= title %>'>
  <button type='button'>Update!</button>
  <h2>Question list</h2>
  <%% _.each(questions,function(question){ %>
    <div>
      <p><%%= question.question %> </p>
      <a href='' class='edit <%%= question.id %>'>  Edit</a>
      <a href='' class='delete <%%= question.id %>'>  Delete</a>
    </div>
  <%% }) %>
  </script>
<div class='row'>
<div class='small-9 small-centered columns'>
<div class="main small">
  <h1>Please enter your name to take quiz</h1>
  <input type='text'>
  <button type='button' id='new-user'>Submit!</button>
</div>
</div>
</div>